<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @material.name %>
</p>
<p>
  <b>Manufacturer:</b>
  <%= @material.manufacturer.try(:name) %>
</p>
<p>
  <b>Productline:</b>
  <%= @material.productline.try(:name) %>
</p>

<p>
  <b>Image:</b>
  <%= @material.image %>
</p>


<%= link_to 'Edit', edit_material_path(@material) %> |
<%= link_to 'Back', materials_path %>
