<h1>Listing productlines</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Manufacturer</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @productlines.each do |productline| %>
  <tr>
    <td><%= productline.name %></td>
    <td><%= productline.manufacturer.name %></td>
    <td><%= link_to 'Show', productline %></td>
    <td><%= link_to 'Edit', edit_productline_path(productline) %></td>
    <td><%= link_to 'Destroy', productline, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Productline', new_productline_path %>
